@font-face {
	font-family: "aileron";
	src: url("/static/fonts/Aileron-Light.otf"),
		 url("/static/fonts/Aileron-Regular.otf"),
		 url("/static/fonts/Aileron-UltraLight.otf");
}

/**
***	Login page
***/

.form-signin
{
    max-width: 90%;
    padding: 15px 0px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 13px;

    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}

.form-signin a{
	font-size: 11px;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f6f6f6;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.basic-inp{
	background-color: #ebebeb;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	transition: none;
	border-radius: 0px;

	color: #999;
	font-family: aileron;
}

/**
***	Login page
***/

/*reset begins*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 12px;
	font: inherit;
	vertical-align: baseline;
	font-weight: normal;
	outline: none;
	font-family: aileron;
	color: #666;

}
a:hover,a:visited{
	color: inherit;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.flt-left {
	float: left;
}
.flt-right {
	float: right;
}
a,a:focus {
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.font-bold{
	font-weight: bold;
}

.control-label{
	text-align: left;
	padding: 8px 12px;
	color: #999;
	font-family: aileron;
	font-size: 18px;
}

.grey-text{
	color: #999;
	margin-bottom: 10px;
	font-family: aileron;
	font-size: 18px;
	padding-left: 0px;
}

.actual{
	visibility: hidden;
	position: absolute;
}

.black-btn, .black-btn:hover{
	background: #333 !important;
	border-color: #333 !important;
	color: #fff !important;
	border-radius: 0px;
	font-size: 14px;
	font-family: aileron;
	font-weight: bold;
	height: 50px;
}

.base-btn, .base-btn:hover{
	background: #FFFFFF !important;
	border: 3px solid #666 !important;
	color: #666 !important;
	border-radius: 0px;
	margin-top: 15px!important;
	font-size: 14px;
	font-family: aileron;
	font-weight: bold;
	height: 50px;
}

.upload{
	padding-left: 25px;
	padding-right: 25px;
}

/*reset ends*/
body{
		background: #ebebeb;
}
.header{
	background: #f6f6f6;
	padding:20px 0px;
	text-align: center;
	padding-bottom: 50px;
}
.link-a{
	font-size: 13px;
	font-family: aileron;
	text-transform: uppercase;
	color: #666 !important;
	border: 0;
	background: transparent;
}
.header .link-a{
	float: right;
}
.logo{
	display: inline-block;
	width: 248px;
	height: 76px;
	margin: 0 auto;
	background: url('images/logo.png') no-repeat;
	margin-top: 50px;
}
.main-content{

	padding: 50px 0px 150px 0px;
}

.bigger-height, .bigger-height:hover{
	height: 50px;
	font-size: 18px;
}

h2{
	font-size: 24px;
	color: #999;
	margin: 20px 0px 40px;
}
.form-list>li{
	padding: 15px 0px;
}
.form-list .label-form{
	font-size: 18px;
	color: #333;
	width:20%;
	display: inline-block;
	padding: 10px 10px;
	float: left;
	text-align: right;
}
.form-list .form-box{
	padding: 5px 20px;

}
/*.form-box{
	margin: 0px 23%;
}*/

.btn-a{
	padding: 10px 30px;
	background: #666;
	font-size: 16px;
	text-transform: uppercase;
	display: inline-block;
	color: #fff !important;
}
.btn-a:hover{
	background: #999;
}
.dd-a button{
	width: auto !important;
	border-radius: 0px;
}
.dd-a button:hover{
	background: #f9f9f9 !important;
}
.dd-a i{
	margin:0px 0px 0px 15px;
}
.input-a{
	border:1px solid #999;
	padding: 10px 20px;
	background: #fff;
	width:100%;
}
textarea.input-a{
	height: 100px;
}

.form-list>li{
	min-height: 65px;
}
.browse-btn{
	margin: 35px 0px;
	width: 430px;
	background: #ebebeb;
}

h3{
	font-size: 20px;
	font-weight: bold;
	padding: 0px 0px 20px 0;

}
h3 a{
	color: #3c5dcb !important;
}
h3 a:hover{
	text-decoration: underline;
}
h4{
	font-size: 18px;
	color: #666;
	font-weight: bold;
	padding: 20px 0px;
}
h4 a{
	float: right;
}
.green{color: #009900 !important;}
.add-api{
	float: right;
	font-size: 18px;
	font-weight: bold;
	color: #666;
}
.add-api:hover{
	color: #333;
}
.add-api:hover span{
	color: #333;
}
.add-api span{
	position: relative;
	top: 2px;
	margin-right: 5px;
}

.list-b>li{
	width: 100%;
	border-bottom:1px solid #999;
	min-height: 45px;
}
.list-b>li>label{
	color: #666;
	font-size: 18px;
	display: inline-block;
	float: left;
	padding: 10px 10px;
	background: none;

}
.list-b li.lb-header{
	background: #ccc;

}
.list-b li.lb-header label{
	color: #333;
	font-weight: bold;
}
.list-b .form-list{
	background: #fff;
}
.list-b .form-list .input-a{
	background: #f0f0f0;
}
.lb-a{width:40%;}
.lb-b{width:20%;}
.lb-c{width:20%;}
.lb-d{width:20%;}

.tabel-cells{
	padding-top: 10px;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	padding-right: 5px;
}
.tabel-cells>a{
	display: inline-block;
	padding: 8px 0px;
	text-align: left;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
}

.tabel-cells>form>button.btn-link{
	font-size:16px;
	outline:none;
	padding-left: 10px;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: left;
}

.file-input{
	border: 1px solid #e1e1e1;
}

.list-row-header{
	font-size: 15px;
	font-weight: bolder;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: hidden;
	word-break: inherit;
	white-space: nowrap;
	text-align: left;
}

.list-row-header:first-child{
	padding-left: 25px;
}

.data-row-sep{
	border-bottom: 1px solid #d5d5d5;
	background-color: #f1f1f1;
}

.detail-row{
	background-color: #f9f9f9;
	border-top: 1px solid #d5d5d5;
}

#alert-box{
	margin: 0px auto;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

#alert-box>.msg-container{
	text-align: center;
	font-size: 15px;
}
#alert-box>.msg-container>*{
	color: #333;
}

#alert-box>.msg-container>a{
	color: #A0A0FA;
	text-decoration: underline;
}

.alert-done{
	border-color: #74b774;
	background-color: #74b774;
}

.detail-inp{
	background-color: #f9f9f9;
}

.add_api{
	color: #333;
	font-family: aileron;
	font-size: 14px;
	font-weight: bolder;
	position: relative;
	top: -2px;
}

.detail-label{
	display: inline-block;
	margin: 0em 0em 1em 5em;
	font-weight: bolder;
	font-size: 18px;
	color: #333;
}
.detail-label label{
	font: inherit;
	color: inherit;
}

.close{
	margin-right: 10px;
	background-image: url('/static/img/close.png');
	display: inline-block;
	height: 2em;
	width: 100%;
	background-repeat: no-repeat;
	background-position: 100% 0px;
}

.delete-link{
	border: 0;
	font-size:16px;
	background: transparent;
	color: black;
	padding-left: 0px;
}

.delete-link:disabled{
	color: #ABA7A7;
	cursor: not-allowed;
}
/***************************************************************************************************mediaqueries begin *******************************************/
/***************************************************************************************************mediaqueries begin *******************************************/
/***************************************************************************************************mediaqueries begin *******************************************/
/***************************************************************************************************mediaqueries begin *******************************************/
/***************************************************************************************************mediaqueries begin *******************************************/
/***************************************************************************************************mediaqueries begin *******************************************/
/***************************************************************************************************mediaqueries begin *******************************************/
/***************************************************************************************************mediaqueries begin *******************************************/

.slidedown{
	transition: .5s linear all;
    opacity: 1;
}
.slidedown.ng-hide {
	transition: 0;
    opacity: 0;
}

.vertical-center{
	min-height: 100%;  /* Fallback for vh unit */
	min-height: 100vh; /* You might also want to use
	            'height' property instead.
	            
	            Note that for percentage values of
	            'height' or 'min-height' properties,
	            the 'height' of the parent element
	            should be specified explicitly.

	            In this case the parent of '.vertical-center'
	            is the <body> element */

	/* Make it a flex container */
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex; 

	/* Align the bootstrap's container vertically */
	-webkit-box-align : center;
	-webkit-align-items : center;
	-moz-box-align : center;
	-ms-flex-align : center;
	align-items : center;

	/* In legacy web browsers such as Firefox 9
	we need to specify the width of the flex container */
	width: 100%;

	/* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
	hence the bootstrap's container won't be aligned to the center anymore.

	Therefore, we should use the following declarations to get it centered again */
	-webkit-box-pack : center;
	-moz-box-pack : center;
	-ms-flex-pack : center;
	-webkit-justify-content : center;
	justify-content : center;
}


@media screen and (min-width: 768px) {

	
}
@media screen and (min-width: 992px) {
	
}

@media screen and (min-width: 1200px) {

}

