<div ng-controller="detailViewController">
    <div ng-include="'static/partials/header.html'"></div>
    <form id="addEndpoint" ng-submit="addNewEndpoint()">
        <div class="main-content container"  ng-init="init()">
            <div class="form-group row">
                <div class="grey-text">Generate your custom response</div>
            </div>
            <div class="form-group row ">
                <label class="col-sm-2 control-label">App Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="title" value="" ng-model="title" style="
                    border-radius: 0;
                    ">
                </div>
            </div>
            <div class="form-group row ">
                
                <label class="col-sm-2 control-label">Path</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="endpoint" value="" ng-model="endpoint" style="
                    border-radius: 0;
                    ">
                </div>
                
            </div>
            <div class="form-group row">
                    <label class="col-sm-2 control-label">Method</label>
                    <div class="col-sm-10">
                        

                      <div class="dropdown">

                        <select class="form-control" style="width:30%;" name="endpointmethod" ng-model="endpointmethod">
                            <option value="GET">GET</option>
                            <option value="PUT">PUT</option>
                            <option value="POST">POST</option>
                            <option value="DELETE">DELETE</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label">Response</label>
                <div class="col-sm-10">
                    <textarea type="text" class="form-control" name="body" ng-model="body" style="
                    height: 164px;
                    border-radius: 0;
                    "></textarea>
                </div>
            </div>

            <div class="form-group row">
                <div style="padding-left:172px">
                    <input type="submit" value="Submit" class="btn btn-primary black-btn">
                </div>
            </div>
        </div>
    </form>
</div>        
