<div ng-controller="detailViewController">
    <div ng-include="'static/partials/header.html'"></div>
    <div class="container">
        <form class="form-horizontal row" id="addEndpoint" ng-submit="addNewEndpoint()" style="padding:0px 15px;">
            <div class="main-content container col-xs-12 col-sm-10 col-sm-offset-1"  ng-init="init()">
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 grey-text grey-text" style="padding-left:15px;">Generate your custom response</div>
                </div>
                <div class="form-group row ">
                    <label class="col-xs-12 col-sm-2 control-label" style="color: #333;">App Name</label>
                    <div class="col-xs-12 col-sm-10">
                        <input type="text" class="form-control detail-inp" name="title" value="" ng-model="title" style="
                        border-radius: 0;
                        ">
                    </div>
                </div>
                <div class="form-group row ">
                    
                    <label class="col-xs-12 col-sm-2 control-label" style="color: #333;">Path</label>
                    <div class="col-xs-12 col-sm-10">
                        <input type="text" class="form-control detail-inp" name="endpoint" value="" ng-model="endpoint" style="
                        border-radius: 0;
                        ">
                    </div>
                    
                </div>
                <div class="form-group row">
                        <label class="col-xs-12 col-sm-2 control-label" style="color: #333;">Method</label>
                        <div class="col-xs-12 col-sm-10">
                            

                          <div class="dropdown">

                            <select class="form-control detail-inp" style="width:30%;" name="endpointmethod" ng-model="endpointmethod">
                                <option value="GET">GET</option>
                                <option value="PUT">PUT</option>
                                <option value="POST">POST</option>
                                <option value="DELETE">DELETE</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-2 control-label" style="color: #333;">Response</label>
                    <div class="col-xs-12 col-sm-10">
                        <textarea type="text" class="form-control detail-inp" name="body" ng-model="body" style="height: 164px;border-radius: 0;"></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                        <input type="submit" value="Submit" style="font-size:18px;" class="btn btn-primary black-btn">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>        
