<div ng-controller="listViewController">
    <div ng-include="'static/partials/header.html'"></div>
    <div class="alert alert-success hide">
        <div class="container ">Your links is ready: </div>
    </div>
    <div class="main-content">
        <div class= "two-tables" style= "padding-bottom:20px">
            <table class="container" ng-hide="showNewApp">
                <tr class="row">
                    <td style = "padding-right: 0px;" class="col-xs-12 col-sm-10 text-right">
                        <span class="glyphicon glyphicon-plus-sign" ng-click="showNewAppSection()"></span>
                        <a class="add_api" ng-click="showNewAppSection()">ADD NEW API</a>
                    </td>
                </tr> 
            </table>
            <div class="container slidedown" id="addEndpoint" ng-show="showNewApp">
                <div class="row">
                    <form class="form-horizontal col-xs-12 col-sm-10 col-sm-offset-1 slidedown container"  role="form" ng-submit="addNewEndpoint()" style="padding:20px; 0px 0px 0px">
                        <div class="row">
                            <div class="clearfix">
                                <span class="pull-right close" ng-click="hideNewAppSection()"></span>
                            </div>
                        </div>
                        <div class="form-group row ">
                            <label class="col-xs-12 col-sm-2 control-label" style="color: #333;">App Name</label>
                            <div class="col-xs-12 col-sm-10">
                                <input type="text" class="form-control detail-inp" name="title" value="" ng-model="title" style="
                                border-radius: 0;
                                ">
                            </div>
                        </div>
                        <div class="form-group row ">
                            
                            <label class="col-xs-12 col-sm-2 control-label" style="color: #333;">Path</label>
                            <div class="col-xs-12 col-sm-10">
                                <input type="text" class="form-control detail-inp" name="endpoint" value="" ng-model="endpoint" style="
                                border-radius: 0;
                                ">
                            </div>
                            
                        </div>
                        <div class="form-group row">
                                <label class="col-xs-12 col-sm-2 control-label" style="color: #333;">Method</label>
                                <div class="col-xs-12 col-sm-10">
                                    

                                  <div class="dropdown">

                                    <select class="form-control detail-inp" style="width:30%;" name="endpointmethod" ng-model="endpointmethod">
                                        <option value="GET">GET</option>
                                        <option value="PUT">PUT</option>
                                        <option value="POST">POST</option>
                                        <option value="DELETE">DELETE</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xs-12 col-sm-2 control-label" style="color: #333;">Response</label>
                            <div class="col-xs-12 col-sm-10">
                                <textarea type="text" class="form-control detail-inp" name="body" ng-model="body" style="height: 164px;border-radius: 0;"></textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                                <input type="submit" value="Submit" style="font-size:18px;" class="btn btn-primary black-btn">
                            </div>
                        </div>
                    </form>
                </div>
            </div> 
            <table class="container">
                <tr class="row">
                    <td  class="col-xs-12 col-sm-10 text-left grey-text">
                        Your API
                    </td>
                </tr> 
            </table>
        </div>

        <div class="container" >
            <div class="row">
                <div style="background-color: #d5d5d5;" class="col-xs-12 col-sm-10 col-sm-offset-1">
                    <div class="list-row-header col-sm-2" >
                        Name
                    </div>
                    <div class="list-row-header col-sm-4" >
                        Path
                    </div>
                    <div class="list-row-header col-sm-2">
                        Method
                    </div>
                    <div class="list-row-header col-sm-2">
                        Action
                    </div>
                    <div class="list-row-header col-sm-2">
                        Status
                    </div>
                </div>  
            </div>
        </div>
        <div class="container" ng-repeat="api_info in data.api_list">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 data-row-sep">
                    <div class="row">
                        <div class="col-sm-2 tabel-cells">
                            <form ng-click="toggleRow(api_info)">
                                <input class="hide" name="endpoint" value="{{api_info['endpoint']}}"/>
                                <input class="hide" name="title" value="{{api_info['title']}}"/>
                                <button class="btn btn-link">{{api_info['title']}}</button>
                            </form>
                        </div>
                        <div class="col-sm-4 tabel-cells">
                            <a class="anc" style="font-style: italic;">{{api_info['endpoint']}} </a>
                        </div>
                        <div class="col-sm-2 tabel-cells">
                            <a href="#" style="cursor: default;">{{api_info['endpointmethod']}}</a>
                        </div>
                        <div class="col-sm-2 tabel-cells">
                            <!-- <form method="POST" action="/delete_endpoint">
                                <input class="hide" name="endpoint" value="{{api_info['endpoint']}}"/>
                                <input class="hide" name="title" value="{{api_info['title']}}"/>
                            </form> -->
                            <button class="btn delete-link" ng-click="deleteRow(api_info)" ng-disabled="disableDeleteApi">Delete</button>
                        </div>
                        <div class="col-sm-2 tabel-cells">
                            <button class="btn" style="border: 0;font-size:16px;background: transparent;color: black;color: #006600;padding-left: 0px;" ng-show="api_info.status" ng-click="toggleStatus()">Started</button>
                            <button class="btn" style="border: 0;font-size:16px;background: transparent;color: black;color: red;padding-left: 0px;" ng-hide="api_info.status" ng-click="toggleStatus()">Stopped</button>
                        </div>
                    </div>
                    <div class="row detail-row">
                        <form class="form-horizontal col-sm-12 slidedown container"  ng-show="api_info.showDetail" role="form" ng-submit="saveRow()" style="padding-top:20px;">
                            <div class="row">
                                <div class="clearfix">
                                    <span class="pull-right close" ng-click="toggleRow(api_info)"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="clearfix">
                                    <span class="detail-label">
                                        <label>Edit : </label>
                                        <label ng-bind="api_info.title"></label>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xs-12 col-sm-2 control-label" style="color: #333;">Path</label>
                                <div class="col-xs-12 col-sm-10">
                                    <input type="text" class="form-control detail-inp" name="path" ng-model="api_info.endpoint"  style="width: 70%;border-radius: 0;"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xs-12 col-sm-2 control-label" style="color: #333;">Method</label>
                                <div class="col-xs-12 col-sm-10">

                                    <div class="dropdown">

                                        <select class="form-control detail-inp" style="width:30%;border-radius: 0px;" name = "method" ng-model="api_info.endpointmethod">
                                            <option value="GET">GET</option>
                                            <option value="PUT">PUT</option>
                                            <option value="POST">POST</option>
                                            <option value="DELETE">DELETE</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xs-12 col-sm-2 control-label" style="color: #333;">Response</label>
                                <div class="col-xs-12 col-sm-10">
                                    <textarea type="text" json-text class="form-control detail-inp" name="response" ng-model="api_info.body" style="width: 70%;height: 164px;border-radius: 0;"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                                    <input type="submit" value="SAVE" class="btn btn-primary black-btn" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>