<div ng-controller="listViewController">
    <div ng-include="'static/partials/header.html'"></div>
    <div class="alert alert-success hide">
        <div class="container ">Your links is ready: </div>
    </div>
    <div class="main-content" ng-init="init()">
        <div class= "two-tables" style= "padding-bottom:20px">
            <table class="container">
                <tr class="row">
                    <td  class="col-sm-6 text-left">
                        API
                    </td>
                    <td style = "font-weight: 900;" class="col-sm-6 text-right">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        <a class="add_api">ADD NEW API</a>
                    </td>
                </tr> 
            </table>
            <div class="container slidedown" style="display:none">
                <div class="row">
                    <form action="/addendpoint" method="POST" class="form-horizontal col-sm-12 "  role="form" ng-submit="saveRow()" style="padding-top:20px;">
                        <div class="clearfix">
                            <span class="glyphicon glyphicon-remove pull-right add-api-close"></span>
                        </div>
                        <div class="form-group">

                            <label class="col-sm-2 control-label">Select Application</label>
                            <div class="col-sm-10">
                                <div class="dropdown">

                                    <select class="form-control"  style="width:30%;" ng-repeat="app_name in data.app_names" name="appname">
                                        <option value="{{app_name}}">{{app_name['title']}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-2 control-label">Path</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="path" value="" ng-model="path"  style="
                                width: 500px;
                                border-radius: 0;
                                "/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Method</label>
                            <div class="col-sm-10">
                                <div class="dropdown">
                                    <select class="form-control" style="width:30%;" name = "method">
                                        <option value="GET">GET</option>
                                        <option value="PUT">PUT</option>
                                        <option value="POST">POST</option>
                                        <option value="DELETE">DELETE</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Response</label>
                            <div class="col-sm-10">
                                <textarea type="text" class="form-control" name="response" ng-model="response" style="
                                width: 526px;
                                height: 164px;
                                border-radius: 0;
                                "></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div style="padding-left:172px">
                                <input type="submit" value="Submit" class="btn btn-primary" style="
                                background-color: #2E2C2C;
                                border-color: #2E2C2C;
                                border-radius: 0;
                                "/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <div class="container" >
            <div style="height: 40px; background-color: #C2C2C2;" class="row">
                <div style=" font-weight: 600; padding-left: 35px;padding-top: 10px;" class="col-sm-2" >
                    App Name
                </div>
                <div style=" font-weight: 600; padding-left: 47px;padding-top: 10px;" class="col-sm-4" >
                    Endpoint Path
                </div>
                <div style= "padding-right: 50px; font-weight: 600;padding-top: 10px;"  class="col-sm-2">
                    Method
                </div>
                <div style= "padding-right: 50px; font-weight: 600;padding-top: 10px;"  class="col-sm-2">
                    Action
                </div>
                <div style= "padding-right: 50px; font-weight: 600;padding-top: 10px;" class="col-sm-2">
                    Status
                </div>
            </div>  
        </div>
        <div class="container" ng-repeat="app_name in data.app_names">
            <div style="height: 40px;"  class="row">
                <div class="col-sm-12">
                    <div>
                        <div style= "padding-left: 0px; padding-top: 8px;" class="col-sm-2">
                            <form method="POST" action="/endpoint_details">
                                <input class="hide" name="endpoint" value="{{app_name['endpoint']}}"/>
                                <input class="hide" name="title" value="{{app_name['title']}}"/>
                                <button class="btn btn-link" style="font-size:16px;">{{app_name['title']}}</button>
                            </form>
                        </div>
                        <div class="col-sm-4 tabel-cells">
                            <a class="anc">{{app_name['endpoint']}} </a>
                        </div>
                        <div class="col-sm-2 tabel-cells">
                            <a href="#" style="cursor: default;">{{app_name['endpointmethod']}}</a>
                        </div>
                        <div class="col-sm-2 tabel-cells">
                            <form method="POST" action="/delete_endpoint">
                                <input class="hide" name="endpoint" value="{{app_name['endpoint']}}"/>
                                <input class="hide" name="title" value="{{app_name['title']}}"/>
                                <button class="btn" style="border: 0;font-size:16px;background: transparent;color: black; ">Delete</button>
                            </form>
                        </div>
                        <div class="col-sm-2 tabel-cells">
                            <a href="#" class= "start-link"  style= "color: green;">Started</a>
                            <a href="#" class= "stop-link hide"  style= "color: red;" >Stopped</a>
                        </div>
                    </div>
                    <form action="/endpoint" method="POST" class="form-horizontal col-sm-12 slidedown"  role="form" ng-submit="saveRow()" style="padding-top:20px;display:none">
                        <div class="clearfix">
                            <span class="glyphicon glyphicon-remove pull-right close"></span>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-2 control-label">Path</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="path" value={{app_name['title']+app_name['endpoint']}} ng-model="path"  style="
                                width: 500px;
                                border-radius: 0;
                                "/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Method</label>
                            <div class="col-sm-10">

                                <div class="dropdown">

                                    <select class="form-control" style="width:30%;" name = "method">
                                        <option value="GET">GET</option>
                                        <option value="PUT">PUT</option>
                                        <option value="POST">POST</option>
                                        <option value="DELETE">DELETE</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Response</label>
                            <div class="col-sm-10">
                                <textarea type="text" class="form-control" name="response" ng-model="response" style="
                                width: 526px;
                                height: 164px;
                                border-radius: 0;
                                "></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div style="padding-left:172px">
                                <input type="submit" value="Submit" class="btn btn-primary" style="
                                background-color: #2E2C2C;
                                border-color: #2E2C2C;
                                border-radius: 0;
                                "/>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>